body {
    background: rgb(34, 193, 195);
    background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

#loginform {
    max-width: 500px;
    min-width: 300px;
    max-height: 700px;
    width: 30%;
    height: 60%;
    margin: 100px auto;
    background-color: #FFFFFF;
    border-radius: 25px;
}

#headerTitle {
    text-align: center;
    font-family: 'open sans', sans-serif;
    padding: 2rem 0;
    padding-bottom: 1rem;
    margin: 0;
    font-size: 2rem;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.img {
    width: 50px;
    height: 47px;
    padding-bottom: 0.5rem;
}

.row input {
    width: 75%;
    box-sizing: border-box;
    border: none;
    font-size: 0.9rem;
    padding-bottom: 1rem;
    box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
    transition: box-shadow 0.2s ease-in;
}

.row input:focus {
    box-shadow: inset 0px -3px 0px 0px rgba(34, 193, 195, 0.7);
    outline: none;
}

.row input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.25s ease-out;
}

.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder {
    opacity: 0;
}

.row label {
    align-self: start;
    padding-left: 3.4rem;
    color: rgba(187, 187, 187, 0.9);
    font-size: 1rem;
}

.row button {
    border-radius: 25px;
    width: 200px;
    height: 50px;
    font-size: 1rem;
    color: white;
    font-weight: 700;
    background: rgb(34, 193, 195);
    background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    border: 0px;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
}

.row button:hover {
    opacity: 0.8;
}

#button {
    padding-bottom: 2rem;
}

.disabled {
    opacity: 1;
    background: #e2e2e2 !important;
    color: #888 !important;
    border-color: #e2e2e2 !important;
    pointer-events: none;
    cursor: not-allowed;
}

.errorMsg {
    color: #e00000;
    font-weight: 300;
    margin-top: 0.5rem;
    font-size: 12px;
}

.errorInput {
    box-shadow: inset 0px -3px 0px 0px red !important;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    #loginform {
        width: 40%;
        margin: 80px auto;
    }

    .row label {
        padding-left: 3.1rem;
    }

    .row {
        padding-top: 1rem;
    }
}

@media screen and (max-width: 1023px) {
    #loginform {
        width: 50%;
        margin: 150px auto;
    }

    .row label {
        padding-left: 2.9rem;
    }

    .row {
        padding-top: 0.5rem;
    }

    #button {
        padding-top: 1rem;
    }
}

@media screen and (max-width: 767px) {
    #loginform {
        width: 50%;
        margin: 150px auto;
    }

    #loginform p {
        font-size: 0.8rem;
    }

    .row label {
        padding-left: 2.3rem;
        font-size: 0.9rem;
    }

    .row input {
        font-size: 0.8rem;
    }

    .row {
        padding-top: 0.5rem;
    }

    #headerTitle {
        font-size: 1.3rem;
    }

    .errorInput {
        box-shadow: inset 0px -3px 0px -1px red !important;
    }

    .row input:focus {
        box-shadow: inset 0px -3px 0px -1px rgba(34, 193, 195, 0.7);
        outline: none;
    }
}