@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

.App {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
}

.bg-dark {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}